body {
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  min-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #5f9341;
  margin-bottom: 4px;
}
button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: #5f9341;
  color: white;
  border: 2px solid #5f9341;
  cursor: pointer;
  width: 131px;
}
#delete-btn {
  border: 2px solid #5f9341;
  background-color: white;
  color: #5f9341;
}
ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}
li {
  margin-top: 5px;
}
a {
  color: #5f9341;
}
